# DATA EDA

### Imports

In [2]:
#Imports
import pandas as pd

### Dataframes Imports

In [6]:
#Importing Transactions data
transactions_df= pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/transactions_v2.csv")
#Importing user logs data
user_logs_df = pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/user_logs_v2.csv")
#importing members data
members_df = pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/members_v3.csv")
# import training dataset
train_df = pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/train_v2.csv")

In [9]:
transactions_df.sort_values('msno')

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
249714,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,22,395,1599,1599,0,20161023,20180206,0
1015786,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20170315,20170415,0
1030112,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20170228,20170419,0
335565,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20170331,20170519,0
1173555,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,30,149,149,1,20170326,20170426,0
...,...,...,...,...,...,...,...,...,...
751351,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,36,30,180,180,0,20170228,20170401,0
1359816,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,29,30,180,180,0,20170311,20170410,0
357121,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,30,149,149,1,20170331,20170524,0
1373978,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,30,149,149,1,20170228,20170424,0
972770,zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=,40,30,149,149,1,20170305,20170404,0

### Transactions Data

In [15]:
# converting transaction_date and membership_date to datetime object
transactions_df['transaction_date'] = pd.to_datetime(transactions_df['transaction_date'], format='%Y%m%d')
transactions_df['membership_expire_date'] = pd.to_datetime(transactions_df['membership_expire_date'], format='%Y%m%d')

In [16]:
# removing duplicates and leaving only the latest transaction date
transactions_df_lt = transactions_df.loc[transactions_df.groupby('msno').transaction_date.idxmax()]

In [17]:
# creating remaining plan duration column
transactions_df_lt['remaining_plan_duration'] = transactions_df_lt['membership_expire_date'] - transactions_df_lt['transaction_date']

In [18]:
# creating discount column
transactions_df_lt['is_discount'] = transactions_df_lt.apply(lambda x: '0' if (x['actual_amount_paid'] -x['plan_list_price'])>=0 else '1', axis=1)

### User logs Data

In [19]:
# Converting date into datetime object
user_logs_df['date'] = pd.to_datetime(user_logs_df['date'], format='%Y%m%d')

In [20]:
user_logs_df.sort_values('msno').head(20)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
8050276,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-02,2,0,0,0,12,12,2882.769
5985664,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-12,1,0,0,0,3,4,796.512
11320923,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-28,1,0,0,0,2,3,461.217
12682180,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-04,7,2,1,0,9,16,2582.182
7082273,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-15,1,0,0,0,8,1,1998.191
2228561,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-13,6,0,1,0,30,31,7612.609
16117393,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-11,8,0,1,0,29,38,7589.212
17224971,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-16,0,0,0,0,4,4,927.000
8850965,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-14,8,2,0,0,29,33,7410.907
3768232,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-29,3,0,0,1,8,11,1949.344
7571198,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-01,1,0,0,1,139,139,31748.651
12117984,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-20,8,1,1,0,34,38,8018.121
16814224,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-05,0,0,0,0,1,1,230.290
830225,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-19,1,1,0,0,2,4,589.959
5514763,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-30,1,1,2,1,15,18,3884.364
18338271,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-25,3,0,0,0,24,23,6182.491
3779926,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-08,0,1,0,0,6,6,1632.781
1028159,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-10,3,0,0,0,3,6,832.030
12318951,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-07,1,0,1,1,9,11,2644.116
9849813,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-26,10,0,1,0,10,16,2800.156

In [21]:
#create new dataframe from transactions table with only msno and latest transaction date
latest_transactions_per_msno = transactions_df_lt[['msno', 'transaction_date']]

In [22]:
#Merge user logs with latest transaction date
merged_df = user_logs_df.merge(latest_transactions_per_msno, on='msno', how='left')

In [23]:
# drop msno's where transaction date is NaN
merged_df = merged_df.dropna(subset=['transaction_date'])

In [24]:
#removing rows where the user log data is before the last transaction date
user_logs_atd= merged_df.loc[merged_df['date']>=merged_df['transaction_date']]

In [25]:
# removing data column
user_logs_atd = user_logs_atd.drop(columns=['date','transaction_date'])

In [26]:
#groupby msno and summing all values
user_logs_atd = user_logs_atd.groupby('msno').mean()
user_logs_atd

,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
msno,,,,,,,
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,3.307692,0.423077,0.384615,0.192308,18.153846,20.384615,4534.900962
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,6.764706,3.117647,2.882353,5.352941,21.411765,30.647059,7022.562294
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0.000000,0.000000,0.000000,0.000000,5.000000,5.000000,1287.132000
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,5.666667,1.666667,1.333333,1.333333,9.333333,13.000000,2863.600667
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,4.937500,0.937500,1.437500,1.125000,14.250000,9.562500,3978.025250
...,...,...,...,...,...,...,...
zzy0oyiTnRTo5Mbg23oKbBkf9eoaS7+eU4V+d14bzfY=,1.800000,0.480000,0.160000,0.520000,119.080000,67.280000,23973.762880
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,4.387097,2.225806,1.483871,1.967742,36.290323,16.548387,8646.443968
zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,1.062500,0.500000,0.437500,0.375000,132.250000,99.437500,29865.424312
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,3.000000,1.000000,0.000000,0.000000,4.000000,5.000000,1366.085000
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=,0.888889,0.111111,0.111111,0.000000,19.111111,17.333333,4923.195000

### Merging

In [27]:
# Merging transactions, user logs and members data to Train dataframe
train_df = train_df.merge(transactions_df_lt, on='msno', how='left')
train_df = train_df.merge(user_logs_atd, on='msno', how='left')
train_df = train_df.merge(members_df, on='msno', how='left')

In [28]:
train_df

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,...,num_75,num_985,num_100,num_unq,total_secs,city,bd,gender,registered_via,registration_init_time
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,28.0,male,3.0,20131223.0
1,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,1,36.0,30.0,180.0,180.0,0.0,2017-03-11,2017-04-11,0.0,...,0.333333,0.000000,4.666667,5.333333,1216.277333,13.0,20.0,male,3.0,20131223.0
2,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,1,15.0,90.0,300.0,300.0,0.0,2017-03-14,2017-06-15,0.0,...,1.545455,1.454545,12.363636,21.545455,3965.618091,13.0,18.0,male,3.0,20131227.0
3,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,1,41.0,30.0,149.0,149.0,1.0,2015-12-08,2017-12-08,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,7.0,20140109.0
4,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,1,41.0,30.0,99.0,99.0,1.0,2017-03-16,2017-09-18,0.0,...,0.333333,0.333333,82.000000,43.888889,20690.561444,13.0,35.0,female,7.0,20140125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970955,OHnZbu+EVaP+vN7Z+OfT5OMcp90MWFZonmM0o3pb8FY=,0,40.0,30.0,149.0,149.0,1.0,2017-03-04,2017-04-03,0.0,...,0.190476,0.380952,13.142857,12.285714,3206.985857,13.0,28.0,male,7.0,20110831.0
970956,S92bDK//uI6hk3u1vuApro0qJBQOToBozZ7lL1yTC+w=,0,41.0,30.0,99.0,99.0,1.0,2017-03-10,2017-04-10,0.0,...,1.666667,1.333333,4.666667,6.333333,1865.367333,1.0,0.0,NaN,7.0,20110903.0
970957,eUa3xo16vpAjr43Cjlb6Kjf1NTILYyJIkBayJQdXWnw=,0,41.0,30.0,99.0,99.0,1.0,2017-03-16,2017-04-16,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,7.0,20110905.0
970958,iZE41tbAQ65rJq60olkJT4BJzuUAYgQdfbEemXe/TTk=,0,39.0,30.0,149.0,149.0,1.0,2017-03-31,2017-05-13,0.0,...,NaN,NaN,NaN,NaN,NaN,5.0,25.0,female,9.0,20110905.0
970959,oECkzJik4wKsbOEVY6UACLbmgM8qymFdb5cJaHrodY8=,0,37.0,30.0,149.0,149.0,1.0,2017-03-18,2017-04-18,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exploration

In [53]:
train_df.isnull().sum()

msno                            0
is_churn                        0
payment_method_id           37382
payment_plan_days           37382
plan_list_price             37382
actual_amount_paid          37382
is_auto_renew               37382
transaction_date            37382
membership_expire_date      37382
is_cancel                   37382
remaining_plan_duration     37382
is_discount                 37382
num_25                     334219
num_50                     334219
num_75                     334219
num_985                    334219
num_100                    334219
num_unq                    334219
total_secs                 334219
city                       109993
bd                         109993
gender                     582055
registered_via             109993
registration_init_time     109993
dtype: int64