In [2]:
import pandas as pd

In [3]:
#Importing Transactions data
transactions_df_1= pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/transactions.csv")
transactions_df_2= pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/transactions_v2.csv")

In [10]:
#concat vertically
transactions_df_concat = pd.concat([transactions_df_1, transactions_df_2], axis=0)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
...,...,...,...,...,...,...,...,...,...
1431004,zwF50wwaJI2TBKWhB42HRBJ6EQK0jgSo1Xmwb9Jq3SU=,32,180,536,536,0,20170215,20170817,0
1431005,zx/h5MzQQmsSat04wSfGpHp6N8aWLLwM1+7OV7ujmPY=,41,30,149,149,1,20170306,20170406,0
1431006,zxvgjIKjy18Fm+cIWUfYKr68z09+ILBxuMW0DnbeUZ8=,41,30,99,99,1,20170308,20170408,0
1431007,zzNhkExbpzmpjp9tXefiCUBtgNLgS+vZE7fFfTRDJVc=,38,30,149,149,0,20170318,20170417,0
1431008,zzZmdSzz7J9oyC/5nHr/HBvWg6k+p2W15b6lt/VKUQE=,32,180,699,699,0,20161212,20170613,0

In [38]:
#drop duplicates
transactions_df = transactions_df_concat.drop_duplicates(keep="first")

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
...,...,...,...,...,...,...,...,...,...
1431004,zwF50wwaJI2TBKWhB42HRBJ6EQK0jgSo1Xmwb9Jq3SU=,32,180,536,536,0,20170215,20170817,0
1431005,zx/h5MzQQmsSat04wSfGpHp6N8aWLLwM1+7OV7ujmPY=,41,30,149,149,1,20170306,20170406,0
1431006,zxvgjIKjy18Fm+cIWUfYKr68z09+ILBxuMW0DnbeUZ8=,41,30,99,99,1,20170308,20170408,0
1431007,zzNhkExbpzmpjp9tXefiCUBtgNLgS+vZE7fFfTRDJVc=,38,30,149,149,0,20170318,20170417,0
1431008,zzZmdSzz7J9oyC/5nHr/HBvWg6k+p2W15b6lt/VKUQE=,32,180,699,699,0,20161212,20170613,0

In [115]:
#import train data, concat and drop duplicates

train_df_1= pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/train.csv")
train_df_2= pd.read_csv("/Users/xavier/code/XavierLooyens/Churn_prediction/raw_data/train_v2.csv")

#concat vertically
train_df_concat = pd.concat([train_df_1, train_df_2], axis=0)
train_df_concat

#drop duplicates
train_df = train_df_concat.drop_duplicates(keep="first")

In [116]:
#merge with transaction data

transactions_train_df = pd.merge(train_df, transactions_df, on='msno', how='left')
transactions_train_df

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,38,7,0,0,0,20161031,20161107,0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,38,30,149,149,0,20170107,20170206,0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,39,30,149,149,1,20161031,20161221,0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,39,30,149,149,1,20160715,20160821,0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,39,30,149,149,1,20160831,20161021,0
...,...,...,...,...,...,...,...,...,...,...
18393086,Zkuhc7S+hhMgLkKft6lfrsyi2XHDo6WH7QDdXlringE=,0,40,30,149,149,1,20151127,20151231,0
18393087,Zkuhc7S+hhMgLkKft6lfrsyi2XHDo6WH7QDdXlringE=,0,40,30,149,149,1,20160527,20160701,0
18393088,Zkuhc7S+hhMgLkKft6lfrsyi2XHDo6WH7QDdXlringE=,0,40,30,149,149,1,20160227,20160331,0
18393089,Zkuhc7S+hhMgLkKft6lfrsyi2XHDo6WH7QDdXlringE=,0,40,30,149,149,1,20161027,20161201,0
18393090,Zkuhc7S+hhMgLkKft6lfrsyi2XHDo6WH7QDdXlringE=,0,40,30,149,149,1,20170327,20170501,0

In [123]:
# #convert to datetime
transactions_train_df.loc[:,'transaction_date'] = pd.to_datetime(transactions_train_df['transaction_date'], format='%Y%m%d')
transactions_train_df.loc[:,'membership_expire_date'] = pd.to_datetime(transactions_train_df['membership_expire_date'], format='%Y%m%d')

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,transaction_date_-1,membership_expire_date_-1
5252149,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2016-11-16,2016-12-15,0,NaT,NaT
5252151,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2016-12-15,2017-01-15,0,2016-11-16,2016-12-15
5252148,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2017-01-15,2017-02-15,0,2016-12-15,2017-01-15
5252150,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2017-02-15,2017-03-15,0,2017-01-15,2017-02-15
5252152,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2017-03-15,2017-04-15,0,2017-02-15,2017-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...
349914,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2016-10-04,2016-11-04,0,2016-09-04,2016-10-04
349911,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2016-11-04,2016-12-04,0,2016-10-04,2016-11-04
349916,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2016-12-04,2017-01-04,0,2016-11-04,2016-12-04
349921,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2017-01-04,2017-02-04,0,2016-12-04,2017-01-04
349917,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2017-02-02,2017-02-02,1,2017-01-04,2017-02-04

In [119]:
# Sort the DataFrame by 'msno' and 'transaction_date'
transactions_train_df = transactions_train_df.sort_values(by=['msno', 'transaction_date'], ascending=[True, True],)

In [124]:
#compute previous period churns
transactions_train_df['transaction_date_-1'] = transactions_train_df.groupby('msno')['transaction_date'].shift(+1)
transactions_train_df['membership_expire_date_-1'] = transactions_train_df.groupby('msno')['membership_expire_date'].shift(+1)
transactions_train_df['period_0'] = transactions_train_df['membership_expire_date_-1']-transactions_train_df['transaction_date']
transactions_train_df['period_0_churn'] = transactions_train_df['period_0'].apply(lambda x: 1 if x<=pd.Timedelta(days=-30) else 0)

transactions_train_df['transaction_date_-2'] = transactions_train_df.groupby('msno')['transaction_date'].shift(+2)
transactions_train_df['membership_expire_date_-2'] = transactions_train_df.groupby('msno')['membership_expire_date'].shift(+2)
transactions_train_df['period_-1'] = transactions_train_df['membership_expire_date_-2']-transactions_train_df['transaction_date_-1']
transactions_train_df['period_-1_churn'] = transactions_train_df['period_-1'].apply(lambda x: 1 if x<=pd.Timedelta(days=-30) else 0)


transactions_train_df['transaction_date_-3'] = transactions_train_df.groupby('msno')['transaction_date'].shift(+3)
transactions_train_df['membership_expire_date_-3'] = transactions_train_df.groupby('msno')['membership_expire_date'].shift(+3)
transactions_train_df['period_-2'] = transactions_train_df['membership_expire_date_-3']-transactions_train_df['transaction_date_-2']
transactions_train_df['period_-2_churn'] = transactions_train_df['period_-2'].apply(lambda x: 1 if x<=pd.Timedelta(days=-30) else 0)


transactions_train_df['transaction_date_-4'] = transactions_train_df.groupby('msno')['transaction_date'].shift(+4)
transactions_train_df['membership_expire_date_-4'] = transactions_train_df.groupby('msno')['membership_expire_date'].shift(+4)
transactions_train_df['period_-3'] = transactions_train_df['membership_expire_date_-4']-transactions_train_df['transaction_date_-3']
transactions_train_df['period_-3_churn'] = transactions_train_df['period_-3'].apply(lambda x: 1 if x<=pd.Timedelta(days=-30) else 0)


transactions_train_df['transaction_date_-5'] = transactions_train_df.groupby('msno')['transaction_date'].shift(+5)
transactions_train_df['membership_expire_date_-5'] = transactions_train_df.groupby('msno')['membership_expire_date'].shift(+5)
transactions_train_df['period_-4'] = transactions_train_df['membership_expire_date_-5']-transactions_train_df['transaction_date_-4']
transactions_train_df['period_-4_churn'] = transactions_train_df['period_-4'].apply(lambda x: 1 if x<=pd.Timedelta(days=-30) else 0)


transactions_train_df['transaction_date_-6'] = transactions_train_df.groupby('msno')['transaction_date'].shift(+6)
transactions_train_df['membership_expire_date_-6'] = transactions_train_df.groupby('msno')['membership_expire_date'].shift(+6)
transactions_train_df['period_-5'] = transactions_train_df['membership_expire_date_-6']-transactions_train_df['transaction_date_-5']
transactions_train_df['period_-5_churn'] = transactions_train_df['period_-5'].apply(lambda x: 1 if x<=pd.Timedelta(days=-30) else 0)

In [133]:
#only keeping rows with the latest transactions 
latest_transaction_indexes = transactions_train_df.groupby('msno')['transaction_date'].idxmax()
latest_transactions_with_churn = transactions_train_df.loc[latest_transaction_indexes]
latest_transactions_with_churn

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,...,period_-3,period_-3_churn,transaction_date_-5,membership_expire_date_-5,period_-4,period_-4_churn,transaction_date_-6,membership_expire_date_-6,period_-5,period_-5_churn
5252152,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2017-03-15,2017-04-15,0,...,0 days,0,NaT,NaT,NaT,0,NaT,NaT,NaT,0
11247656,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0,39,30,149,149,1,2017-03-31,2017-05-19,0,...,19 days,0,2016-10-31,2016-12-19,19 days,0,2016-09-30,2016-11-19,19 days,0
1507448,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,0,41,30,149,149,1,2017-03-26,2017-04-26,0,...,0 days,0,2016-10-26,2016-11-26,0 days,0,2016-09-26,2016-10-26,0 days,0
6576079,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,0,41,30,149,149,1,2017-03-15,2017-04-15,0,...,0 days,0,2016-10-15,2016-11-15,0 days,0,2016-09-15,2016-10-15,0 days,0
7091575,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,0,39,30,149,149,1,2017-03-31,2017-05-23,0,...,23 days,0,2016-10-31,2016-12-23,23 days,0,2016-09-30,2016-11-23,23 days,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17124263,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,36,30,180,180,0,2017-02-28,2017-04-01,0,...,-1 days,0,2016-09-28,2016-10-28,-1 days,0,NaT,NaT,NaT,0
15192970,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,39,30,149,149,1,2017-03-31,2017-05-24,0,...,24 days,0,2016-10-31,2016-12-24,24 days,0,2016-09-30,2016-11-24,24 days,0
231638,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,41,30,149,149,1,2017-01-22,2017-01-23,1,...,1 days,0,2016-09-04,2016-10-05,1 days,0,2016-08-04,2016-09-05,1 days,0
18276945,zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=,0,40,30,149,149,1,2017-03-05,2017-04-04,0,...,NaT,0,NaT,NaT,NaT,0,NaT,NaT,NaT,0
349917,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2017-02-02,2017-02-02,1,...,0 days,0,2016-09-04,2016-10-04,0 days,0,2016-08-04,2016-09-04,0 days,0

In [134]:
transactions_sample_filtered = latest_transactions_with_churn[latest_transactions_with_churn['period_-5'].notna()]
transactions_sample_filtered = transactions_sample_filtered.loc[transactions_sample_filtered['period_-5_churn']==1]
transactions_sample_filtered

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,...,period_-3,period_-3_churn,transaction_date_-5,membership_expire_date_-5,period_-4,period_-4_churn,transaction_date_-6,membership_expire_date_-6,period_-5,period_-5_churn
9232546,++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=,0,38,30,149,149,0,2017-03-01,2017-03-31,0,...,29 days,0,2016-06-09,2016-07-09,-2 days,0,2016-04-06,2016-05-06,-34 days,1
17592545,++yV3f1YM3HSXUnY0V6KkJORX2e7VMaE0jGP4Xo3prI=,0,36,30,180,180,0,2017-03-11,2017-04-10,0,...,-57 days,1,2016-02-01,2016-03-01,-37 days,1,2015-12-01,2016-01-01,-31 days,1
14261122,+/9ci+EwK9CTIVyylTybN8jPWJy3ZE5EEmb2h7RD+6Q=,0,36,30,180,180,1,2017-03-12,2017-04-11,0,...,-2 days,0,2016-10-30,2016-11-06,-5 days,0,2016-05-12,2016-05-12,-171 days,1
13559020,+/SnlvpjhoCO8MTrd+iSyycIycNstDjPqBryBP+BQ+k=,0,36,30,180,180,1,2017-03-26,2017-05-02,0,...,6 days,0,2016-11-02,2016-12-02,7 days,0,2016-08-13,2016-09-12,-51 days,1
10983592,+05+H03WPMAUXosEjqbUTO2KqvsKJIltPaei5n+jlOI=,0,38,30,149,149,0,2017-03-30,2017-04-29,0,...,-11 days,0,2016-08-22,2016-09-21,-17 days,0,2016-06-08,2016-07-08,-45 days,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11312514,zxQ7B4qVPsle+zoetmMeZoe149Bzc63L1VqMvUIkM+s=,0,41,30,99,99,1,2017-03-31,2017-04-30,0,...,0 days,0,2016-10-31,2016-11-30,0 days,0,2016-10-01,2016-10-01,-30 days,1
6602661,zxW6Sy/TQcCKHe2Dst/5IuvpUtZkwvR6qrcPFEdGilo=,0,38,30,149,149,0,2017-03-13,2017-04-12,0,...,-2 days,0,2016-10-05,2016-11-04,-5 days,0,2016-05-04,2016-06-03,-124 days,1
15814681,zxbzzJj2OdqPJWTvpizZfqUYWkC7Q9bBqQeQGHVVk3w=,0,31,30,149,149,1,2017-03-31,2017-04-30,0,...,0 days,0,2016-11-28,2016-11-30,0 days,0,2016-09-10,2016-09-15,-74 days,1
17231895,zz79F6roc15efaX72KhcGWPW2hXmE7ykGktQfm679d8=,1,32,195,894,894,0,2017-03-27,2017-10-11,0,...,-87 days,1,2016-02-01,2016-03-01,-37 days,1,2015-12-01,2016-01-01,-31 days,1
5263859,zzZrR2vlnXSBAqvJkadj1amu+uwSrH/wWXD6gakZg3Q=,0,20,100,480,480,0,2017-03-04,2017-06-12,0,...,0 days,0,2016-08-30,2016-09-29,-2 days,0,2016-05-16,2016-06-15,-76 days,1

In [135]:
transactions_ltd = latest_transactions_with_churn.drop(axis=1, columns=['transaction_date_-1',
                                                                                      'membership_expire_date_-1',
                                                                                      'period_0',
                                                                                      'transaction_date_-2',
                                                                                      'membership_expire_date_-2',
                                                                                      'period_-1',
                                                                                      'transaction_date_-3',
                                                                                      'membership_expire_date_-3',
                                                                                      'period_-2',
                                                                                      'transaction_date_-4',
                                                                                      'membership_expire_date_-4',
                                                                                      'period_-3',
                                                                                      'transaction_date_-5',
                                                                                      'membership_expire_date_-5',
                                                                                      'period_-4',
                                                                                      'transaction_date_-6',
                                                                                      'membership_expire_date_-6',
                                                                                      'period_-5',])

In [136]:
transactions_ltd

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,period_0_churn,period_-1_churn,period_-2_churn,period_-3_churn,period_-4_churn,period_-5_churn
5252152,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41,30,99,99,1,2017-03-15,2017-04-15,0,0,0,0,0,0,0
11247656,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0,39,30,149,149,1,2017-03-31,2017-05-19,0,0,0,0,0,0,0
1507448,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,0,41,30,149,149,1,2017-03-26,2017-04-26,0,0,0,0,0,0,0
6576079,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,0,41,30,149,149,1,2017-03-15,2017-04-15,0,0,0,0,0,0,0
7091575,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,0,39,30,149,149,1,2017-03-31,2017-05-23,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17124263,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,36,30,180,180,0,2017-02-28,2017-04-01,0,0,0,0,0,0,0
15192970,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,39,30,149,149,1,2017-03-31,2017-05-24,0,0,0,0,0,0,0
231638,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,41,30,149,149,1,2017-01-22,2017-01-23,1,0,0,0,0,0,0
18276945,zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=,0,40,30,149,149,1,2017-03-05,2017-04-04,0,0,0,0,0,0,0
349917,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41,30,99,99,1,2017-02-02,2017-02-02,1,0,0,0,0,0,0